@import "./fonts.css";
@import "variables";
@import "mixins";
@import "./blocks/cards";
@import "./blocks/footer.scss";
@import "./blocks/modal.scss";
@import "loader.scss";

* { box-sizing: border-box }
body, html {
  font-family: 'Lato', sans-serif;
}
#app {
  margin: 10px 10px 34px 10px;
}

header p {
  margin: 24px 0 0 0;
  text-align: center;
  @include font-style(300, 70px, 80px);
  color: $color-primary;

  @media screen and (max-width: 600px) {
    font-size: calc(100vw / (600 / 70));
    line-height: calc(100vw / (600 / 80));
  }
}

.above-title {
  margin-top: 32px;
  text-align: center;
  @include font-style(400, 24px, 24px);
  color: $color-subtitle;

  @media screen and (max-width: 470px) {
    margin-top: calc(100vw / (470 / 32));
    font-size: calc(100vw / (470 / 24));
    line-height: calc(100vw / (470 / 24));
  }
}

.emptyWeather {
  text-align: center;
  @include font-style(400, 24px, 24px);
  color: $color-primary;
}