@import "./fonts.css";
@import "variables";
@import "cards.scss";
@import "footer.scss";
@import "modal.scss";

* { box-sizing: border-box }
body, html {
  font-family: 'Lato', sans-serif;
}
#app {
  margin: 10px 10px 34px 10px;
}

header p {
  margin: 24px 0 0 0;
  text-align: center;
  font-weight: 300;
  font-size: 70px;
  line-height: 80px;
  color: $color-primary;

  @media screen and (max-width: 600px) {
    & {
      font-size: calc(100vw / (600 / 70));
      line-height: calc(100vw / (600 / 80));
    }
  }
}

.above-title {
  margin-top: 32px;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $color-subtitle;

  @media screen and (max-width: 470px) {
    & {
      margin-top: calc(100vw / (470 / 32));
      font-size: calc(100vw / (470 / 24));
      line-height: calc(100vw / (470 / 24));
    }
  }
}
